@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	--sb-track-color: #1f1f1f;
	--sb-thumb-color: #3b3b3b;
	--sb-size: 14px;

	scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 10px;
    border: 4px solid #1f1f1f;
}

body {
    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;

    --swiper-navigation-color: white;
    --swiper-pagination-color: white;
}
